<p-toast></p-toast>

<!-- <p-panel i18n-header="@@create_user" header="Create new user" [toggleable]="true">
<div class="text-center" >
  <p-button styleClass="big-button" i18n-label="@@create_user" label="Create new user"
  [routerLink]="['/user', 'new']" ></p-button>
</div>
</p-panel> -->

<!-- note: PrimeNG 22 makes <p-button> standalone; combining [routerLink] with the
     component selector forces every consuming component to import RouterLink.
     The equivalent pattern uses the [pButton] directive on an <a> element so that
     RouterLink remains a native host directive of <a>. -->
<a pButton styleClass="big-button" i18n-label="@@create_user" label="Create new user"
  routerLink="/user/new"></a>

<p-panel i18n-header="@@existing_users" header="Existing users" [toggleable]="true" [showHeader]="false">

  <div class="p-grid">

    <div class="p-col-12">
      <div class="p-d-flex p-jc-center">
        <a pButton i18n-label="@@create_user" label="Ajouter un utilisateur"
          icon="fas fa-plus" routerLink="/user/new"></a>
      </div>

    </div>

    <div class="p-col-12">


      <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="pageSize"
        sortMode="multiple" styleClass="table_with_centered_content">

        <!-- Columns sizes -->
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
          @for (col of columns; track col) {
            @switch (col.field) {
              @default {
                <col [ngStyle]="{'width': col.width}"/>
              }
              @case ('appuser_avatar_id') {
                <col class="thumbnail-column"/>
              }
              @case ('action') {
                <col class="action-column"/>
              }
            }
          }
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <!--Names and sorting -->
        <tr>
          @for (col of columns; track col) {
            <th [pSortableColumn]="col.field">
              {{col.header}}
              @if (col.field != 'appuser_avatar_id' && col.field != 'action') {
                <p-sortIcon [field]="col.field"></p-sortIcon>
              }
            </th>
          }
        </tr>
        <!-- Filters -->
        <tr>
          @for (col of columns; track col) {
            <th>
              @switch (col.field) {
                @case ('appuser_avatar_id') {
                  <span></span>
                }
                @case ('action') {
                  <span></span>
                }
                @default {
                  <input pInputText
                    type="text"
                    (input)="dt.filter($event.target.value, col.field, 'contains')">
                }
                @case ('appuser_type') {
                  <p-select
                    appendTo="body"
                    [options]="appuserTypesSelectItems"
                    i18n-placeholder="@@choose"
                    placeholder="Choose"
                    [showClear]="true"
                    [style]="{'width':'100%'}"
                    defaultLabel="All"
                    (onChange)="dt.filter($event.value, col.field, 'equals')" >
                  </p-select>
                }
              }
            </th>
          }
        </tr>
      </ng-template>
      <!-- Values -->
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          @for (col of columns; track col) {
            <td >
              @switch (col.field) {
                @case ('action') {
                  <p-button type="button"
                    icon="fas fa-edit"
                  (onClick)="handleClickOnUser($event,rowData)"></p-button>
                }
                @case ('appuser_type') {
                  <span>
                    {{rowData[col.field] | enumCode2EnumName: 'APPUSER_TYPE'
                    | getTranslation
                    }}
                  </span>
                }
                @default {
                  <span>{{rowData[col.field]}}</span>
                }
              }
            </td>
          }
        </tr>
      </ng-template>
    </p-table>

  </div> <!--  ENDOF div p-col-12 for table -->
</div> <!-- ENDOF div p-grid -->

</p-panel>
