<div class="flex">
    <div class="surface-section w-full md:w-6 p-6 md:p-8">
         <div class="mb-5">
             <!-- <img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3"> -->
             <div class="text-900 text-3xl font-medium mb-3">TRAQUER - Gestion des patients BHR</div>
             <span class="text-600 font-medium mr-2" i18n="@@ask_your_admin_for_an_account">Vous n'avez pas de compte ? Demandez un accès à l'administrateur TRAQUER</span>
             <a class="font-medium no-underline text-blue-500 cursor-pointer" i18n="@@click_here">Cliquer ici</a>
         </div>
         <div>
             <label for="login" class="block text-900 font-medium mb-2">Login</label>
             <input id="login" type="text" pInputText class="w-full mb-3" [(ngModel)]="model.username">

             <label for="password" class="block text-900 font-medium mb-2" i18n="@@password">Mot de passe</label>
             <input id="password" type="password" pInputText class="w-full mb-3" [(ngModel)]="model.password">

             <div class="hidden align-items-center justify-content-between mb-6" *ngIf="true">
                 <div class="flex align-items-center">
                     <p-checkbox id="rememberme" [binary]="true" styleClass="mr-2"></p-checkbox>
                     <label for="rememberme">Remember me</label>
                 </div>
                 <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot your password?</a>
             </div>

             <button pButton pRipple
                i18n-label="@@sign_in"
                label="S'identifier"
                icon="pi pi-user"
                class="w-full"
                (click)="login($event)"
                [disabled]="processing"
            >
            </button>
         </div>
    </div>
    <!-- <div class="hidden md:block w-6 bg-no-repeat bg-cover" style="background-image: url('assets/images/blocks/signin/signin.jpg')"></div> -->
</div>
