<p-table [columns]="queryParams.cols" [value]="data"
  [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="updateSorting($event)"
  [paginator]="true" paginatorPosition="both"
  sortMode="multiple"  [scrollable]="true" scrollHeight="75vh"
  [rows]="queryParams.pageSize" [totalRecords]="totalRecords" [loading]="loading"
  styleClass="table_with_centered_content with-infinite-paginator">

  <!-- Columns selection and download -->
  <ng-template pTemplate="caption">

    <div class="flex">

      <p-multiSelect [options]="selectableColumns"
        [(ngModel)]="selectedColumns"
        selectedItemsLabel="{0} colonnes sélectionnées"
        [style]="{minWidth: '200px'}"
        defaultLabel="Choisir les colonnes à afficher"
        (ngModelChange)="updateColumnsSelection($event)">
      </p-multiSelect>
      <span class="p-input-icon-left ml-auto">
        <p-button
          i18n-pTooltip="@@add_patient"
          pTooltip="Ajouter un patient"
          class="mr-1"
          label="+"
          icon="fa fa-solid fa-user"
        (onClick)="handleClickOnNewPatientBtn($event)"></p-button>
        <p-button
          i18n-pTooltip="@@add_stay"
          pTooltip="Ajouter un séjour"
          class="mr-1"
          label="+"
          icon="fa fa-solid fa-bed"
        (onClick)="handleClickOnNewStayBtn($event)"></p-button>
        <p-button
          i18n-pTooltip="@@add_analysis_result"
          pTooltip="Ajouter un résultat d'analyse"
          class="mr-1"
          label="+"
          icon="fa fa-solid fa-flask"
        (onClick)="handleClickOnNewAnalysisResultBtn($event)"></p-button>
        <p-button
          i18n-pTooltip="@@add_infectious_status"
          pTooltip="Ajouter un statut infectieux"
          class="mr-1"
          label="+"
          icon="fas fa-lemon"
        (onClick)="handleClickOnNewInfectiousStatusBtn($event)"></p-button>
      </span>
    </div>

  </ng-template>

  <!-- Columns sizes -->
  <!-- <ng-template pTemplate="colgroup" let-columns>
  <colgroup>
  <ng-container *ngFor="let col of columns" >
    <ng-container *ngIf="col.columnIsDisplayed" [ngSwitch]="col.field">
      <col *ngSwitchDefault [ngStyle]="{'width': col.width}"/>
    </ng-container>
  </ng-container>
</colgroup>
</ng-template> -->

<ng-template pTemplate="header" let-columns>

  <!-- Names and sorting -->
  <tr>
    @for (col of columns; track col) {
      @if (col.columnIsDisplayed) {
        @if (col.sortable) {
          <th [pSortableColumn]="col.field">
            {{col.header}}
            @if (col.sortable) {
              <p-sortIcon [field]="col.field"></p-sortIcon>
            }
          </th>
        }
        @if (!col.sortable) {
          <th>
            {{col.header}}
          </th>
        }
      }
    }
  </tr>

  <!-- Filters -->
  <tr>
    @for (col of columns; track col) {
      @if (col.columnIsDisplayed) {
        @if (col.filterable) {
          <th>
            @switch (true) {
              @default {
                <input pInputText type="text"
                  [(ngModel)]="filterValues[col.field]"
                  (keyup)="updateFiltering()">
              }
              @case (col.field === 'infectious_status') {
                <p-dropdown
                  [options]="optionsINFECTIOUS_STATUS_TYPE" appendTo="body"
                  [(ngModel)]="filterValues[col.field]" filterPlaceholder="qq"
                (onChange)="updateFiltering()"></p-dropdown>
              }
              @case (col.field === 'infectious_agent') {
                <p-dropdown
                  [options]="optionsINFECTIOUS_AGENT_CATEGORY" appendTo="body"
                  [(ngModel)]="filterValues[col.field]" filterPlaceholder="qq"
                (onChange)="updateFiltering()"></p-dropdown>
              }
              @case (col.field === 'event_type') {
                <p-dropdown
                  [options]="optionsEVENT_REQUIRING_ATTENTION_TYPE"
                  appendTo="body"
                  [(ngModel)]="filterValues[col.field]"
                  filterPlaceholder="qq"
                (onChange)="updateFiltering()"></p-dropdown>
              }
              @case (col.field === 'birthdate') {
                <p-calendar type="date"
                  [showTime]="false" [showIcon]="true"
                  [showButtonBar]="true"
                  dateFormat="dd/mm/yy" appendTo="body"
                  [(ngModel)]="filterValues[col.field]"
                  (ngModelChange)="updateFiltering()">
                </p-calendar>
              }
              @case (col.field === 'is_confirmed'
                || col.field === 'is_current'
                || col.field === 'event_is_pending'
                || col.field === 'patient_is_hospitalized') {
                <p-dropdown
                  [options]="trueFalseSelectItems"
                  [(ngModel)]="filterValues[col.field]"
                  (onChange)="updateFiltering()">
                </p-dropdown>
              }
            }
          </th>
        }
        @if (!col.filterable) {
          <th ></th>
        }
      }
    }
  </tr>
</ng-template>
<!-- Values -->
<ng-template pTemplate="body" let-rowData let-columns="columns">
  <tr [pSelectableRow]="rowData">
    @for (col of columns; track col) {
      @if (col.columnIsDisplayed) {
        <td>
          @switch (col.field) {
            @default {
              <span>{{rowData[col.nameInSelect]}}</span>
            }
            @case ('infectious_status') {
              <div
                class="flex align-content-center">
                <span class="flex align-items-center justify-content-center">
                  {{
                  rowData[col.nameInSelect] |
                  concatBefore:'INFECTIOUS_STATUS_TYPE_' |
                  getTranslation
                  }}
                </span>
                <button  pButton pRipple type="button"
                  (click)="showInfectiousStatusExplanation(rowData)"
                  icon="fas fa-info"
                class="p-button-rounded p-button-text p-button-sm"></button>
              </div>
            }
            <!-- <span *ngSwitchCase="'infectious_status'">
            {{rowData[col.nameInSelect] | getTranslation}}
          </span> -->
          @case ('infectious_agent') {
            <span>{{rowData[col.nameInSelect] | concat:'_shortname' | getTranslation}}</span>
          }
          @case ('ref_time') {
            <span>{{rowData[col.nameInSelect] | date:'dd/MM/yyyy HH:mm'}}</span>
          }
          @case ('birthdate') {
            <span>{{rowData[col.nameInSelect] | date:'dd/MM/yyyy'}}</span>
          }
          @case ('is_current') {
            <span>{{rowData[col.nameInSelect] | getTranslation}}</span>
          }
          @case ('is_confirmed') {
            <span>{{rowData[col.nameInSelect] | getTranslation}}</span>
          }
          @case ('patient_is_hospitalized') {
            <span>{{rowData[col.nameInSelect] | getTranslation}}</span>
          }
          @case ('event_type') {
            <span>
              {{
              rowData[col.nameInSelect] |
              concatBefore:'EVENT_REQUIRING_ATTENTION_TYPE_' |
              getTranslation
              }}
            </span>
          }
          @case ('event_ref_time') {
            <span>
              {{
              rowData[col.nameInSelect] |
              date:'dd/MM/yyyy HH:mm'
              }}
            </span>
          }
          @case ('event_is_pending') {
            <span>{{rowData[col.nameInSelect] | getTranslation}}</span>
          }
          @case ('verifiee') {
            <p-checkbox
              (onChange)="toggleCourseVerifiee($event,rowData)"
              [(ngModel)]="rowData[col.nameInSelect]"
            [binary]="true"></p-checkbox>
          }
          @case ('action') {
            <button
              pButton pRipple type="button"
              (click)="displayDialogForUserResponse(rowData)"
              icon="fas fa-hand-rock"
              class="p-button-rounded p-button-text"
              [disabled]="loadingDialogForEventResponses"
            ></button>
          }
        }
      </td>
    }
  }
</tr>
</ng-template>

</p-table>
