<ng-container i18n="@@patient">Patient</ng-container>
<ng-container i18n="@@null_option_label">&#8203;</ng-container>
<ng-container i18n="@@null">&#8203;</ng-container>
<ng-container i18n="@@a_new_version_is_available_long">
    Une nouvelle version de l'application est disponible. Veuillez recharger la page pour l'obtenir.
</ng-container>
<ng-container i18n="@@settings">Paramètres</ng-container>
<ng-container i18n="@@general">General</ng-container>
<ng-container i18n="@@home_page">Accueil</ng-container>
<ng-container i18n="@@calendar">Calendrier</ng-container>
<ng-container i18n="@@my_account">Mon compte</ng-container>
<ng-container i18n="@@logout">Déconnexion</ng-container>
<ng-container i18n="@@users">Utilisateurs</ng-container>
<ng-container i18n="@@true">Oui</ng-container>
<ng-container i18n="@@false">Non</ng-container>
<ng-container i18n="@@firstname">Prénom</ng-container>
<ng-container i18n="@@lastname">Nom</ng-container>
<ng-container i18n="@@birthdate">Date de naissance</ng-container>
<ng-container i18n="@@patient_ref">NIP</ng-container>
<ng-container i18n="@@infection">Infection</ng-container>
<ng-container i18n="@@carrier_or_contact">Porteur/Contact</ng-container>
<ng-container i18n="@@reference_time">Heure de référence</ng-container>
<ng-container i18n="@@event_reference_time_abbreviated">Hre réf. evt</ng-container>
<ng-container i18n="@@infectious_status_reference_time_abbreviated">Hre réf. statut infec.</ng-container>
<ng-container i18n="@@ARB_GRB">BHRe ERG</ng-container>
<ng-container i18n="@@ARB_CPE">BHRe EPC</ng-container>
<ng-container i18n="@@infectious_status">Statut infectieux</ng-container>
<ng-container i18n="@@infectious_agent">Agent infectieux</ng-container>
<ng-container i18n="@@carbapenemase_producing_enterobacteriaceae_shortname">EPC</ng-container>
<ng-container i18n="@@vancomycin_resistant_enterococcus_shortname">ERV</ng-container>
<ng-container i18n="@@carbapenemase_producing_enterobacteriaceae_shortname">EPC</ng-container>
<ng-container i18n="@@vancomycin_resistant_enterococcus_shortname">ERV</ng-container>
<ng-container i18n="@@confirmed?">Confirmé ?</ng-container>
<ng-container i18n="@@current?">Actuel ?</ng-container>
<ng-container i18n="@@hospitalized?">Hospit. en cours ?</ng-container>
<ng-container i18n="@@current_unit_name">UF actuelle</ng-container>
<ng-container i18n="@@event_is_pending">À traiter</ng-container>
<ng-container i18n="@@event_type">Type d'événement</ng-container>
<ng-container i18n="@@is_current_status?">Statut actuel ?</ng-container>
<ng-container i18n="@@outbreak">Épisode</ng-container>
<ng-container i18n="@@action">Action</ng-container>
<ng-container i18n="@@user_response_to_event">Réponse à l'événement</ng-container>
<ng-container i18n="@@contact_cases_generated">Cas contacts générés</ng-container>
<ng-container i18n="@@success">Succès</ng-container>
<ng-container i18n="@@info">Info</ng-container>
<ng-container i18n="@@warn">Attention</ng-container>
<ng-container i18n="@@error">Erreur</ng-container>
<ng-container i18n="@@infectious_status_updated">Statut infectieux mis à jour</ng-container>
<ng-container i18n="@@exposure">Exposition à un porteur</ng-container>
<ng-container i18n="@@patient_history">Historique du patient</ng-container>
<ng-container i18n="@@history">Historique</ng-container>
<ng-container i18n="@@isolation">Isolement</ng-container>
<ng-container i18n="@@room">Chambre</ng-container>
<ng-container i18n="@@isolation_date_updated">Heure d'isolement enregistrée</ng-container>
<ng-container i18n="@@contact_patient(s)">Patient(s) contact</ng-container>
<ng-container i18n="@@exposure(s)">Exposition(s)</ng-container>
<ng-container i18n="@@stay">Séjour</ng-container>
<ng-container i18n="@@stays">Séjours</ng-container>
<ng-container i18n="@@analyses">Analyses</ng-container>
<ng-container i18n="@@stay_begin">Début de séjour</ng-container>
<ng-container i18n="@@stay_end">Fin de séjour</ng-container>
<ng-container i18n="@@new_patient">Nouveau patient</ng-container>
<ng-container i18n="@@hospitalization">Hospitalisation</ng-container>
<ng-container i18n="@@infectious_status_must_be_confirmed_to_initialize_the_outbreak">
    Le statut infectieux doit être confirmé pour pouvoir initialiser l'épisode
</ng-container>
<ng-container i18n="@@outbreak_initialized">Épisode initialisé</ng-container>
<ng-container i18n="@@outbreak_saved">Épisode enregistré</ng-container>
<ng-container i18n="@@hospitalization_in_progress">Hospitalisation en cours</ng-container>
<ng-container i18n="@@of_patient">Du patient</ng-container>
<ng-container i18n="@@of">De</ng-container>
<ng-container i18n="@@simulate_processing_at_given_date">Simulation à date</ng-container>
<ng-container i18n="@@advanced_functions">Fonctions avanceées</ng-container>
<ng-container i18n="@@are_you_sure_that_you_want_to_delete_all_infectious_status_and_associated_elements">
    Êtes vous sûr de vouloir supprimer les statuts infectieux et les éléments associés
</ng-container>

<ng-container i18n="@@successful_processing">Traitement réussi</ng-container>
<ng-container i18n="@@successful_reset">Remise à zéro réussie</ng-container>
<ng-container i18n="@@processing">Traitement en cours</ng-container>
<ng-container i18n="@@appuser_saved">Utilisateur enregistré</ng-container>
<ng-container i18n="@@reactivated">Réactivé</ng-container>

<ng-container i18n='@@healthcare_professional'>Personnel de santé</ng-container>

<!-- Enum APPUSER_TYPE -->
<ng-container i18n="@@technical_administrator">Administrateur technique</ng-container>
<ng-container i18n="@@staff_member">Membre de l'équipe</ng-container>

<!-- Enum ROLE_CODE_NAME -->
<ng-container i18n="@@technical_administrator">Administrateur technique</ng-container>
<ng-container i18n="@@staff_member">Membre de l'équipe</ng-container>
<ng-container i18n="@@doctor">Docteur</ng-container>
<ng-container i18n="@@caregiver">Aide soignant(e)</ng-container>
<ng-container i18n="@@nurse">IDE</ng-container>
<ng-container i18n="@@secretary">Secrétaire</ng-container>
<ng-container i18n="@@biologist">Biologiste</ng-container>
<ng-container i18n="@@software_administrator">Admin. logiciel</ng-container>
<ng-container i18n="@@staff_member_with_extended_permissions">
    Membre de l'équipe avec permissions avancées
</ng-container>


<!-- Enum EVENT_REQUIRING_ATTENTION_TYPE -->
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_new_status">Nouveau statut infectieux</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_analysis_in_progress">Analyse en cours</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_analysis_done">Analyse faite</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_analysis_late">Analyse en retard</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_new_stay">Nouveau séjour</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_death">Mort du patient</ng-container>

<!-- Enum RESPONSE_TYPE -->
<ng-container i18n="@@RESPONSE_TYPE_acknowledge">Vu (ne rien faire)</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_confirm">Confirmer statut</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_request_analysis">Demander une analyse</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_confirm_and_request_analysis">Confirmer le statut et demander une analyse</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_send_a_reminder">Envoyer une relance</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_isolation_in_same_unit">Isoler le patient au sein de l'UF</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_isolation_in_special_unit">Transférer le patient à l'UF d'isolement</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_declare_outbreak">Déclarer un nouvel épisode</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_associate_to_existing_outbreak">Associer à un épisode existant</ng-container>

<!-- Enum ANALYSIS_REQUEST_TYPE -->
<ng-container i18n="@@molecular_analysis_carbapenemase_producing_enterobacteriaceae">Analyse moléculaire EPC</ng-container>
<ng-container i18n="@@bacterial_culture_carbapenemase_producing_enterobacteriaceae">Culture EPC</ng-container>
<ng-container i18n="@@molecular_analysis_vancomycin_resistant_enterococcus">Analyse moléculaire ERV</ng-container>
<ng-container i18n="@@bacterial_culture_vancomycin_resistant_enterococcus">Culture ERV</ng-container>

<!-- Enum ANALYSIS_RESULT_VALUE_TYPE -->
<ng-container i18n="@@ANALYSIS_RESULT_VALUE_TYPE_positive">Positif</ng-container>
<ng-container i18n="@@ANALYSIS_RESULT_VALUE_TYPE_negative">Négatif</ng-container>

<!-- Enum SAMPLE_MATERIAL_TYPE -->
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_purulent_collection">Collection purulente</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_actinomycetes">Actinomycètes</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_joint_liquid">Liquide articulaire</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_ascites_liquid">Liquide d'ascite</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_broncho_tracheal_aspiration">Aspiration broncho-trachéale</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_bronchial_aspiration">Aspiration Bronchique</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_tracheal_aspiration">Aspiration Trachéale</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_biopsy_fragment">Fragment biopsique</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_biliary_liquid">Liquide biliaire</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_mouth">Bouche</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_bronchial_brushing">Brossage bronchique</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_fungal_mapping">cartographie fongique</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_implantable_chamber_pac">Chambre implantable (PAC)</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_conjunctiva">Conjonctive</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_cornea">Cornée</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_sputum">Expectoration</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_cryptococcus">Cryptocoque</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_miscellaneous">Divers</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_dpc_liquid">Liquide de DPCA</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_dpc_microbiology">Microbiologie sur DPCA</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_intra_tissular_device">Dispositif intra-tissulaire</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_intra_cavitary_device">Dispositif intra-cavitaire</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_throat_tonsils">Gorge, amygdales</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_gynecological_pelvic">Gynécologique/Pelvien</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_blood_culture">Hémoculture</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_pediatric_blood_culture">Hémoculture Pédiatrique</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_unspecified_nature_sample">Prél. nature non précisée</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_intravascular_device">Dispositif intra-vasculaire</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_broncho_alveolar_lavage">Lavage Broncho-Alvéolaire</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_biological_liquid">Liquide biologique</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_csf_chemistry_serology">Liq. Céphalo-Rach. Chimie/Séro</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_csf_bacterial">Liq.Céphalo-Rachidien (Bact)</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_gastric_liquid">Liquide gastrique</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_amniotic_liquid">Liquide amniotique</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_lochial">Lochies</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_pleural_liquid">Liquide pleural</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_pericardial_liquid">Liquide péricardique</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_mycobacterium">Mycobactérie</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_nose">Nez</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_placenta">Placenta</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_external_ear">Oreille externe</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_middle_ear">Oreille moyenne</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_ears">Oreilles</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_bone">Os</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_puncture">Ponction</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_skin_or_appendages">Peau ou phanères</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_skin">Peau</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_peritoneal_liquid">Liquide peritonéal</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_pica_liquid">Liquide de PICA</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_wound_or_oozing">Plaie ou suintement</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_blood_bag_and_tubings">Poche sang et tubulures</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_sinus_puncture">Ponction de sinus</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_urethral_sampling">Prélèvement Uréthral</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_superficial_pus">Pus superficiel</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_rectal_swab">Ecouvillon Rectal</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_respiratory">Respiratoire</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_indwelling_urinary_catheter">Sonde Urinaire à demeure</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_stool">Selles</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_bacterial_strain">Souche bactérienne</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_semen">Sperme</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_scales">Squames</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_iud">Sterilet</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_tissue">Tissu</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_transmitted_sample">Echantillon transmis</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_protected_tracheal_aspiration">Aspi. trachéale protégée</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_urine">Urines</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_urine_b">Urines [B)</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_resistant_screening_swabs">Ecouvillonages (Recherche BMR)</ng-container>
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_cancelled">Annulé</ng-container>

<!-- Enum OUTBREAK_CRITICITY -->
<ng-container i18n="@@OUTBREAK_CRITICITY_epidemic">Épidemique</ng-container>
<ng-container i18n="@@OUTBREAK_CRITICITY_non_epidemic">Non épidemique</ng-container>
<ng-container i18n="@@OUTBREAK_CRITICITY_dont_know">Pas encore qualifié</ng-container>

<!-- Enum OUTBREAK_CRITICITY -->
<ng-container i18n="@@carbapenemase_producing_enterobacteriaceae">Entérobactérie productrice de carbapénèmases (EPC)</ng-container>
<ng-container i18n="@@vancomycin_resistant_enterococcus">Entérocoque résistant à la Vancomycine (ERV)</ng-container>

<!-- Enum INFECTIOUS_STATUS_TYPE -->
<ng-container i18n="@@not_at_risk">Pas à risque🍏</ng-container>
<ng-container i18n="@@carrier">Porteur🍎</ng-container>
<ng-container i18n="@@contact">Contact🍋</ng-container>
<ng-container i18n="@@INFECTIOUS_STATUS_TYPE_not_at_risk">Pas à risque🍏</ng-container>
<ng-container i18n="@@INFECTIOUS_STATUS_TYPE_carrier">Porteur🍎</ng-container>
<ng-container i18n="@@INFECTIOUS_STATUS_TYPE_contact">Contact🍋</ng-container>
