<ng-container i18n="@@patient">Patient</ng-container>
<ng-container i18n="@@null_option_label">&#8203;</ng-container>
<ng-container i18n="@@null">&#8203;</ng-container>
<ng-container i18n="@@a_new_version_is_available_long">
    Une nouvelle version de l'application est disponible. Veuillez recharger la page pour l'obtenir.
</ng-container>
<ng-container i18n="@@settings">Paramètres</ng-container>
<ng-container i18n="@@general">General</ng-container>
<ng-container i18n="@@home_page">Accueil</ng-container>
<ng-container i18n="@@calendar">Calendrier</ng-container>
<ng-container i18n="@@my_account">Mon compte</ng-container>
<ng-container i18n="@@logout">Déconnexion</ng-container>
<ng-container i18n="@@true">Oui</ng-container>
<ng-container i18n="@@false">Non</ng-container>
<ng-container i18n="@@firstname">Prénom</ng-container>
<ng-container i18n="@@lastname">Nom</ng-container>
<ng-container i18n="@@birthdate">Date de naissance</ng-container>
<ng-container i18n="@@infection">Infection</ng-container>
<ng-container i18n="@@carrier_or_contact">Porteur/Contact</ng-container>
<ng-container i18n="@@reference_time">Heure de référence</ng-container>
<ng-container i18n="@@event_reference_time_abbreviated">Hre réf. evt</ng-container>
<ng-container i18n="@@infectious_status_reference_time_abbreviated">Hre réf. statut infec.</ng-container>
<ng-container i18n="@@ARB_GRB">BHRe ERG</ng-container>
<ng-container i18n="@@ARB_CPE">BHRe EPC</ng-container>
<ng-container i18n="@@infectious_status">Statut infectieux</ng-container>
<ng-container i18n="@@infectious_agent">Agent infectieux</ng-container>
<ng-container i18n="@@carbapenemase_producing_enterobacteriaceae_shortname">EPC</ng-container>
<ng-container i18n="@@vancomycin_resistant_enterococcus_shortname">ERV</ng-container>
<ng-container i18n="@@carbapenemase_producing_enterobacteriaceae_shortname">EPC</ng-container>
<ng-container i18n="@@vancomycin_resistant_enterococcus_shortname">ERV</ng-container>
<ng-container i18n="@@confirmed?">Confirmé ?</ng-container>
<ng-container i18n="@@current?">Actuel ?</ng-container>
<ng-container i18n="@@hospitalized?">Hospit. en cours ?</ng-container>
<ng-container i18n="@@current_unit_name">UF actuelle</ng-container>
<ng-container i18n="@@event_is_pending">À traiter</ng-container>
<ng-container i18n="@@event_type">Type d'événement</ng-container>
<ng-container i18n="@@is_current_status?">Statut actuel ?</ng-container>
<ng-container i18n="@@outbreak">Épisode</ng-container>
<ng-container i18n="@@action">Action</ng-container>
<ng-container i18n="@@user_response_to_event">Réponse à l'événement</ng-container>
<ng-container i18n="@@contact_cases_generated">Cas contacts générés</ng-container>
<ng-container i18n="@@infectious_status_updated">Statut infectieux mis à jour</ng-container>
<ng-container i18n="@@exposure">Exposition à un porteur</ng-container>
<ng-container i18n="@@patient_history">Historique du patient</ng-container>
<ng-container i18n="@@history">Historique</ng-container>
<ng-container i18n="@@stay">Séjour</ng-container>
<ng-container i18n="@@stays">Séjours</ng-container>
<ng-container i18n="@@analyses">Analyses</ng-container>
<ng-container i18n="@@stay_begin">Début de séjour</ng-container>
<ng-container i18n="@@stay_end">Fin de séjour</ng-container>
<ng-container i18n="@@new_patient">Nouveau patient</ng-container>
<ng-container i18n="@@infectious_status_must_be_confirmed_to_initialize_the_outbreak">
    Le statut infectieux doit être confirmé pour pouvoir initialiser l'épisode
</ng-container>
<ng-container i18n="@@hospitalization_in_progress">Hospitalisation en cours</ng-container>
<ng-container i18n="@@of_patient">Du patient</ng-container>
<ng-container i18n="@@of">De</ng-container>
<ng-container i18n="@@simulate_processing_at_given_date">Simulation à date</ng-container>
<ng-container i18n="@@advanced_functions">Fonctions avanceées</ng-container>
<ng-container i18n="@@are_you_sure_that_you_want_to_delete_all_infectious_status_and_associated_elements">
    Êtes vous sûr de vouloir supprimer les statuts infectieux et les éléments associés
</ng-container>

<ng-container i18n="@@successful_processing">Traitement réussi</ng-container>
<ng-container i18n="@@successful_reset">Remise à zéro réussie</ng-container>




<!-- Enum EVENT_REQUIRING_ATTENTION_TYPE -->
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_new_status">Nouveau statut infectieux</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_analysis_in_progress">Analyse en cours</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_analysis_done">Analyse faite</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_analysis_late">Analyse en retard</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_new_stay">Nouveau séjour</ng-container>
<ng-container i18n="@@EVENT_REQUIRING_ATTENTION_TYPE_death">Mort du patient</ng-container>

<!-- Enum RESPONSE_TYPE -->
<ng-container i18n="@@RESPONSE_TYPE_acknowledge">Vu (ne rien faire)</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_confirm">Confirmer statut</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_request_analysis">Demander une analyse</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_confirm_and_request_analysis">Confirmer le statut et demander une analyse</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_send_a_reminder">Envoyer une relance</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_isolation_in_same_unit">Isoler le patient au sein de l'UF</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_isolation_in_special_unit">Transférer le patient à l'UF d'isolement</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_declare_outbreak">Déclarer un nouvel épisode</ng-container>
<ng-container i18n="@@RESPONSE_TYPE_associate_to_existing_outbreak">Associer à un épisode existant</ng-container>

<!-- Enum ANALYSIS_REQUEST_TYPE -->
<ng-container i18n="@@molecular_analysis_carbapenemase_producing_enterobacteriaceae">Analyse moléculaire EPC</ng-container>
<ng-container i18n="@@bacterial_culture_carbapenemase_producing_enterobacteriaceae">Culture EPC</ng-container>
<ng-container i18n="@@molecular_analysis_vancomycin_resistant_enterococcus">Analyse moléculaire ERV</ng-container>
<ng-container i18n="@@bacterial_culture_vancomycin_resistant_enterococcus">Culture ERV</ng-container>

<!-- Enum ANALYSIS_RESULT_VALUE_TYPE -->
<ng-container i18n="@@ANALYSIS_RESULT_VALUE_TYPE_positive">Positif</ng-container>
<ng-container i18n="@@ANALYSIS_RESULT_VALUE_TYPE_negative">Négatif</ng-container>

<!-- Enum SAMPLE_MATERIAL_TYPE -->
<ng-container i18n="@@SAMPLE_MATERIAL_TYPE_faeces">Selles</ng-container>

<!-- Enum OUTBREAK_CRITICITY -->
<ng-container i18n="@@OUTBREAK_CRITICITY_epidemic">Épidemique</ng-container>
<ng-container i18n="@@OUTBREAK_CRITICITY_non_epidemic">Non épidemique</ng-container>
<ng-container i18n="@@OUTBREAK_CRITICITY_dont_know">Pas encore qualifié</ng-container>

<!-- Enum OUTBREAK_CRITICITY -->
<ng-container i18n="@@carbapenemase_producing_enterobacteriaceae">Entérobactérie productrice de carbapénèmases (EPC)</ng-container>
<ng-container i18n="@@vancomycin_resistant_enterococcus">Entérocoque résistant à la Vancomycine (ERV)</ng-container>

<!-- Enum INFECTIOUS_STATUS_TYPE -->
<ng-container i18n="@@not_at_risk">Pas à risque🍏</ng-container>
<ng-container i18n="@@carrier">Porteur🍎</ng-container>
<ng-container i18n="@@contact">Contact🍋</ng-container>
<ng-container i18n="@@INFECTIOUS_STATUS_TYPE_not_at_risk">Pas à risque🍏</ng-container>
<ng-container i18n="@@INFECTIOUS_STATUS_TYPE_carrier">Porteur🍎</ng-container>
<ng-container i18n="@@INFECTIOUS_STATUS_TYPE_contact">Contact🍋</ng-container>
