<p-confirmpopup></p-confirmpopup>

<p-panel header="Remise à zéro"
    [toggleable]="true"
    [collapsed]="true">

    <div class="custom-form-grid p-fluid">

        <div class="custom-form-field col-12">
            <button (click)="confirmReset($event)" pButton
                class="w-auto"
                [disabled]="resetInProgress">
              <span class="pi pi-check" pButtonIcon></span>
              <span pButtonLabel>Réinitialiser les données</span>
            </button>
        </div>

    </div>


</p-panel>

<p-panel header="Traitement des analyses et séjours"
    [toggleable]="true"
    [collapsed]="false">

    <form name="form" #simulateForm="ngForm" class="ui-g" (ngSubmit)="simulateForm.form.valid && process()">

        <div class="custom-form-grid p-fluid">

            <div class="custom-form-field col-12 md:col-6">
                <label for="forceProcessingTime"
                    class="custom-label"
                    i18n="@@simulated_processing_time">Date limite de traitement</label>
                <p-datepicker id="forceProcessingTime"
                    name="forceProcessingTime"
                    [showTime]="true"
                    appendTo="body"
                    [showIcon]="true"
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="forceProcessingTime"
                    required
                ></p-datepicker>
            </div>

            <div class="custom-form-field col-12">
                <button pButton
                    class="w-auto"
                    type="submit"
                    [disabled]="simulateForm.invalid || processingInProgress">
                  <span class="pi pi-check" pButtonIcon></span>
                  <span pButtonLabel>Lancer le traitement</span>
                </button>
            </div>

        </div>

    </form>

</p-panel>
