<p-table [columns]="queryParams.cols" [value]="data"
  [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="updateSorting($event)"
  [paginator]="true" paginatorPosition="both"
  sortMode="multiple"  [scrollable]="true" scrollHeight="75vh"
  [rows]="queryParams.pageSize" [totalRecords]="totalRecords" [loading]="loading"
  styleClass="table_with_centered_content with-infinite-paginator">

  <!-- Columns selection and download -->
  <ng-template pTemplate="caption">

    <div class="flex">

      <p-multiselect [options]="selectableColumns"
        [(ngModel)]="selectedColumns"
        selectedItemsLabel="{0} colonnes sélectionnées"
        [style]="{minWidth: '200px'}"
        defaultLabel="Choisir les colonnes à afficher"
        (ngModelChange)="updateColumnsSelection($event)">
      </p-multiselect>
    </div>

  </ng-template>

  <!-- Columns sizes -->
  <!-- <ng-template pTemplate="colgroup" let-columns>
  <colgroup>
  <ng-container *ngFor="let col of columns" >
    <ng-container *ngIf="col.columnIsDisplayed" [ngSwitch]="col.field">
      <col *ngSwitchDefault [ngStyle]="{'width': col.width}"/>
    </ng-container>
  </ng-container>
</colgroup>
</ng-template> -->

<ng-template pTemplate="header" let-columns>

  <!-- Names and sorting -->
  <tr>
    @for (col of columns; track col) {
      @if (col.columnIsDisplayed) {
        @if (col.sortable) {
          <th [pSortableColumn]="col.field">
            {{col.header}}
            @if (col.sortable) {
              <p-sortIcon [field]="col.field"></p-sortIcon>
            }
          </th>
        }
        @if (!col.sortable) {
          <th>
            {{col.header}}
          </th>
        }
      }
    }
  </tr>

  <!-- Filters -->
  <tr>
    @for (col of columns; track col) {
      @if (col.columnIsDisplayed) {
        @if (col.filterable) {
          <th>
            @switch (true) {
              @default {
                <input pInputText type="text"
                  [(ngModel)]="filterValues[col.field]"
                  (keyup)="updateFiltering()"/>
              }
              @case (
                col.field === 'in_time'
                || col.field === 'out_time'
                || col.field === 'isolation_time'
                ) {
                <p-datepicker
                  [showTime]="false"  [showButtonBar]="true"
                  dateFormat="dd/mm/yy"
                  [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                  (onSelect)="updateFiltering()" (onClearClick)="updateFiltering()"
                  appendTo="body" [locale]="translationForPrimengCalendar"
                  [(ngModel)]="filterValues[col.field]"
                  >
                </p-datepicker>
              }
              @case (col.field === 'unit_name') {
                <p-multiselect
                  [options]="optionsUnits"
                  appendTo="body"
                  [(ngModel)]="filterValues[col.field]"
                  filterPlaceholder="qq"
                  (onChange)="updateFiltering()"
                  >
                </p-multiselect>
              }
              @case (col.field === 'birthdate') {
                <p-datepicker type="date"
                  [showTime]="false" [showIcon]="true"
                  dateFormat="dd/mm/yy" appendTo="body"
                  [showButtonBar]="true"
                  [(ngModel)]="filterValues[col.field]"
                  (ngModelChange)="updateFiltering()">
                </p-datepicker>
              }
            }
          </th>
        }
        @if (!col.filterable) {
          <th ></th>
        }
      }
    }
  </tr>
</ng-template>
<!-- Values -->
<ng-template pTemplate="body" let-rowData let-columns="columns">
  <tr [pSelectableRow]="rowData">
    @for (col of columns; track col) {
      @if (col.columnIsDisplayed) {
        <td>
          @switch (col.field) {
            @default {
              <span>{{rowData[col.nameInSelect]}}</span>
            }
            @case ('lastname') {
              <div
                class="flex align-content-center">
                <span class="flex align-items-center justify-content-center">
                  {{rowData[col.nameInSelect] | getTranslation}}
                </span>
                <button  pButton pRipple type="button"
                  (click)="showInfectiousStatusExplanation(rowData)"
                  icon="fas fa-info"
                class="p-button-rounded p-button-text p-button-sm"></button>
              </div>
            }
            <!-- <span *ngSwitchCase="'infectious_status'">
            {{rowData[col.nameInSelect] | getTranslation}}
          </span> -->
          @case ('request_type') {
            <span>
              {{
              rowData[col.nameInSelect] |
              getTranslation
              }}
            </span>
          }
          @case ('result') {
            <span>
              {{
              rowData[col.nameInSelect] |
              concatBefore:'ANALYSIS_RESULT_VALUE_TYPE_' |
              getTranslation
              }}
            </span>
          }
          @case ('in_time') {
            <span>{{rowData[col.nameInSelect] | date:'dd/MM/yyyy HH:mm'}}</span>
          }
          @case ('out_time') {
            <span>{{rowData[col.nameInSelect] | date:'dd/MM/yyyy HH:mm'}}</span>
          }
          @case ('isolation_time') {
            <span>{{rowData[col.nameInSelect] | date:'dd/MM/yyyy HH:mm'}}</span>
          }
          @case ('hospitalization_in_time') {
            <span>{{rowData[col.nameInSelect] | date:'dd/MM/yyyy HH:mm'}}</span>
          }
          @case ('hospitalization_out_time') {
            <span>{{rowData[col.nameInSelect] | date:'dd/MM/yyyy HH:mm'}}</span>
          }
          @case ('birthdate') {
            <span>{{rowData[col.nameInSelect] | date:'dd/MM/yyyy'}}</span>
          }
          @case ('sample_material_type') {
            <span>
              {{
              rowData[col.nameInSelect] |
              getTranslation
              }}
            </span>
          }
          @case ('action') {
            <p-splitbutton
              i18n-label="delete_isolation_time"
              label="Supprimer l'heure d'isolement"
              icon="pi pi-times"
              [model]="splitButtonOptions"
              (onClick)="handleClickOnDefaultAction(rowData)"
              (onDropdownClick)="handleClickOnSplitButtonDropdown(rowData)">
            </p-splitbutton>
          }
        }
      </td>
    }
  }
</tr>
</ng-template>

</p-table>
