<form (ngSubmit)="executeFunction()" #executeFunctionForm="ngForm">

  <div class="custom-form-grid p-fluid">

    <div class="custom-form-field col-12 md:col-6">
      <label for="selectedFunction" class="custom-label"
        i18n="@@selected_function">
                Fonction sélectionnée</label>
      <p-select [options]="optionsFunctions"
        id="selectedFunction"
        name="selectedFunction"
        [(ngModel)]="selectedFunction"
        #selectedFunctionCheck="ngModel"
        (ngModelChange)="onSelectedFunctionChange($event)"
        placeholder="Sélectionner"
        [required]="true"
        [showClear]="true"
        styleClass="w-auto">
      </p-select>
    </div>

    <div class="col-12"></div>

    @for (item of arguments; track item) {
      <div class="custom-form-field col-12 md:col-6" app-exposed-function-argument
        [argument]="item">
      </div>
    }

    <div class="col-12"></div>

    <div class="col-12 md:col-6">
      <button type="submit" pButton
        [disabled]="!executeFunctionForm.form.valid"
      class="w-auto">
        <span class="fas fa-play" pButtonIcon></span>
        <span pButtonLabel i18n="execute_function">Executer la fonction</span>
      </button>
    </div>

  </div>

</form>